page-home {
    .widht-css{
        width: 70%;
    }

    .widht-css-2{
        width: 80%;
        margin-top:40px;
    }

    .widht-css-3{
        width: 80%;
    }

    .content-div{
        margin-left: 10%;
        margin-top:70%;
    }
}
